<accordion [isAnimated]="true">
  <accordion-group heading="{{ 'Acordeon.Item1.Title' | translate}}">
    <article class="col-lg-12">
      <p>
        {{ 'Acordeon.Item1.Text' | translate}}
        <strong>{{ 'Acordeon.Item1.Bold' | translate}}</strong>.
      </p>

    </article>
  </accordion-group>
  <accordion-group heading="{{ 'Acordeon.Item2.Title' | translate}}">
    <div class="cosmos-container cosmos-content">
      <p>
        {{ 'Acordeon.Item2.Text' | translate}}
      </p>
    </div>
  </accordion-group>
  <accordion-group heading="{{ 'Acordeon.Item3.Title' | translate}}">
    <p>{{'Acordeon.Item3.Text' | translate}}</p>
  </accordion-group>
</accordion>
