<accordion [isAnimated]="true">
  <accordion-group heading="O que é Angular">
    <article class="col-lg-12">
      <p>
        Frameworks SPA atualmente são um padrão de mercado quando falamos sobre
        desenvolvimento front-end. Neste artigo, vamos abordar um dos mais
        populares frameworks JavaScript da atualidade: o
        <strong>Angular</strong>.
      </p>

    </article>
  </accordion-group>
  <accordion-group heading="O que é Bootstrap">
    <div class="cosmos-container cosmos-content">
      <p>
        Quando vamos criar um site, precisamos tomar diversas decisões, como
        qual banco de dados, linguagem e framework vamos usar, ou ainda onde
        faremos o deploy da aplicação.
      </p>
    </div>
  </accordion-group>
  <accordion-group heading="ngx-boostrap">
    <p>Pacote i18n, que usaremos para traduzir nosso site em Angular.</p>
    <p>Mais informações: Clique aqui</p>
  </accordion-group>
</accordion>
