<button type="button" class="btn btn-primary">{{'Button.First' | translate}}</button>
<button type="button" class="btn btn-secondary espacoEsquerda">
  {{'Button.Secondary' | translate}}
</button>
<button type="button" class="btn btn-success espacoEsquerda">{{'Button.Success' | translate}}</button>
<button type="button" class="btn btn-danger espacoEsquerda">{{'Button.Danger' | translate}}</button>
<button type="button" class="btn btn-warning espacoEsquerda">{{'Button.Warning' | translate}}</button>
<button type="button" class="btn btn-info espacoEsquerda">{{'Button.Information' | translate}}</button>
<button type="button" class="btn btn-light espacoEsquerda">{{'Button.Sure' | translate}}</button>
<button type="button" class="btn btn-dark espacoEsquerda">{{'Button.Dark' | translate}}</button>
