<button type="button" class="btn btn-primary">Primário</button>
<button type="button" class="btn btn-secondary espacoEsquerda">
  Secundário
</button>
<button type="button" class="btn btn-success espacoEsquerda">Sucesso</button>
<button type="button" class="btn btn-danger espacoEsquerda">Perigo</button>
<button type="button" class="btn btn-warning espacoEsquerda">Aviso</button>
<button type="button" class="btn btn-info espacoEsquerda">Informação</button>
<button type="button" class="btn btn-light espacoEsquerda">Claro</button>
<button type="button" class="btn btn-dark espacoEsquerda">Escuro</button>
