<div class="container">
  <form>
    <legend>
      <h1>Traduzindo meu site Angular</h1>
    </legend>
    <div class="row">
      <div class="col-4">
        <app-texto-nome></app-texto-nome>
      </div>
      <div class="col-8">
        <app-texto-sobrenome></app-texto-sobrenome>
      </div>
    </div>
    <br />
    <div class="row">
      <div class="col-4">
        <app-combo-idioma-nativo></app-combo-idioma-nativo>
      </div>
      <div class="col-2">
        <app-dropdown-acessar-site></app-dropdown-acessar-site>
      </div>
      <div class="col-6">
        <app-paginacao></app-paginacao>
      </div>
    </div>
    <br />
    <div class="row">
      <app-botoes></app-botoes>
    </div>
    <br />
    <div class="row">
      <app-alerta></app-alerta>
    </div>
    <br />
    <div class="row">
      <div class="col-10">
        <app-tabs></app-tabs>
      </div>
      <div class="col-2">
        <app-tooltip></app-tooltip>
      </div>
    </div>
    <br />
    <div class="row"></div>
    <br />
    <div class="row">
      <app-acordeon></app-acordeon>
    </div>
    <br />
    <div class="row">
      <app-carrosel></app-carrosel>
    </div>
  </form>
</div>
