<carousel>
  <slide>
    <img src="https://valor-software.com/ngx-bootstrap/assets/images/nature/2.jpg" alt="first slide" style="display: block; width: 100%;">
    <div class="carousel-caption d-none d-md-block">
      <h3>Primeiro Slide</h3>
      <p>Um lugar bonito, mas como eu vou chegar lá? Não tenho barco.</p>
    </div>
  </slide>
  <slide>
    <img src="https://valor-software.com/ngx-bootstrap/assets/images/nature/1.jpg" alt="second slide" style="display: block; width: 100%;">
    <div class="carousel-caption d-none d-md-block">
      <h3>Segundo Slide</h3>
      <p>Isso que é trabalho em equipe.</p>
    </div>
  </slide>
  <slide>
    <img src="https://valor-software.com/ngx-bootstrap/assets/images/nature/3.jpg" alt="third slide" style="display: block; width: 100%;">
    <div class="carousel-caption d-none d-md-block">
      <h3>Terceiro Slide</h3>
      <p>Aconselho não cair ai.</p>
    </div>
  </slide>
</carousel>
