<carousel>
  <slide>
    <img src="https://valor-software.com/ngx-bootstrap/assets/images/nature/2.jpg" alt="first slide" style="display: block; width: 100%;">
    <div class="carousel-caption d-none d-md-block">
      <h3>{{'Image.Item1.Title' | translate}}</h3>
      <p>{{'Image.Item1.Text' | translate}}</p>
    </div>
  </slide>
  <slide>
    <img src="https://valor-software.com/ngx-bootstrap/assets/images/nature/1.jpg" alt="second slide" style="display: block; width: 100%;">
    <div class="carousel-caption d-none d-md-block">
      <h3>{{'Image.Item2.Title' | translate}}</h3>
      <p>{{'Image.Item2.Text' | translate}}</p>
    </div>
  </slide>
  <slide>
    <img src="https://valor-software.com/ngx-bootstrap/assets/images/nature/3.jpg" alt="third slide" style="display: block; width: 100%;">
    <div class="carousel-caption d-none d-md-block">
      <h3>{{'Image.Item3.Title' | translate}}</h3>
      <p>{{'Image.Item3.Text' | translate}}</p>
    </div>
  </slide>
</carousel>
