<div class="row">
  <div class="col-3">
    <alert type="success">
      <strong>{{'Alert.SuccessBold' | translate}}</strong> {{'Alert.Success' | translate}}
    </alert>
  </div>
  <div class="col-3">
    <alert type="info">
      <strong>{{'Alert.InformationBold' | translate}}</strong> {{'Alert.Information' | translate}}
    </alert>
  </div>
  <div class="col-3">
    <alert type="warning">
      <strong>{{'Alert.WarningBold' | translate}}</strong> {{'Alert.Warning' | translate}}
    </alert>
  </div>
  <div class="col-3">
    <alert type="danger">
      <strong>{{'Alert.DangerBold' | translate}}</strong> {{'Alert.Danger' | translate}}
    </alert>
  </div>
</div>
