<div class="row">
  <div class="col-3">
    <alert type="success">
      <strong>Sucesso</strong> Você leu com sucesso esta importante mensagem de alerta.
    </alert>
  </div>
  <div class="col-3">
    <alert type="info">
      <strong>Atenção!</strong> Este alerta precisa de sua atenção, mas não é super importante.
    </alert>
  </div>
  <div class="col-3">
    <alert type="warning">
      <strong>Aviso!</strong> Melhor verificar você mesmo, você não está parecendo muito bem.
    </alert>
  </div>
  <div class="col-3">
    <alert type="danger">
      <strong>Perigo!</strong> Quando ver essa mensagem, é que provavelmente você terá um erro no sistema.
    </alert>
  </div>
</div>
